<app-header></app-header>
<div class="container mt-5">
    <div class="col-md-12">
        <div class="row mb-2">
            <div class="row task-detail-row">
                <div class="col-11 task-detail">
                    <div class="task-detail-text">
                        <div class="mb-2">Дата начала: {{goal.startDate}}</div>
                        <div class="mb-2">Дата завершения: {{goal.dueDate}}</div>
                        <div class="mb-2 task-detail-task">Цель по доходам/расходам: {{goal.moneyAmount}}</div>
                        <div class="mb-2 task-detail-task">Текущий прогресс: {{goal.currentTotal}}</div>
                        <div class="col-6 mb-2">
                            <mat-progress-bar [mode]="'determinate'"
                                [value]="goal.currentTotal ? goal.currentTotal / goal.moneyAmount * 100 : 0">
                            </mat-progress-bar>
                        </div>
                        <div class="mb-4 task-detail-task">Категория: {{goal.category.categoryName}}</div>
                        <div>
                            <a class="btn btn-outline-primary" [routerLink]="'/goals/update/' + goalId" >Редактировать</a>
                            <a class="btn btn-outline-danger" (click)="onDelete()">Удалить</a>
                        </div>
                    </div>
                </div>
                <div class="col-1 close-button-section">
                    <a routerLink="/home" class="btn btn-close"></a>
                </div>
            </div>
        </div>
        <h2 class="card-title">Транзакции</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <div class="mt-2" *ngIf="transactions.length == 0">Транзакции отсутствуют</div>
                <thead>
                    <tr>
                        <th class="sort-column" (click)="sortTransactions('amount')">
                            Сумма {{ getSortSymbol('amount') }}
                        </th>
                        <th class="sort-column" (click)="sortTransactions('createdAt')">
                            Дата {{ getSortSymbol('createdAt') }}
                        </th>
                        <th class="sort-column" (click)="sortTransactions('category')">
                            Категория {{ getSortSymbol('category') }}
                        </th>
                    </tr>
                  </thead>
                <tbody>
                    <tr [routerLink]="'/transaction/' + transaction.id" class="row-element" *ngFor="let transaction of transactions">
                        <td>{{transaction.amount}}</td>
                        <td>{{transaction.createdAt}}</td>
                        <td>{{transaction.category.categoryName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
