<app-header></app-header>
<div class="container mt-5">
    <div class="col-md-10 offset-1">
        <div class="row text">
            <div>
                <form [formGroup]="form" (submit)="onSubmit()" autocomplete="off">
                    <div class="form-group mb-2">
                        <label class="control-label">Сумма транзакции </label>
                        <input formControlName="moneyAmount" class="form-control" [(ngModel)]="transaction.amount" />
                        <span *ngIf="moneyAmount.hasError('required') && moneyAmount.touched" class="text-danger">Пожалуйста, введите значение</span>
                        <span *ngIf="moneyAmount.hasError('notZero') && moneyAmount.touched" class="text-danger">Значение не должно быть равно 0</span>
                    </div>
                    <div class="form-group mb-2">
                        <label class="control-label">Комментарий к транзакции (необязательно):</label>
                        <input type="text" formControlName="comment" class="form-control" [(ngModel)]="transaction.comment"/>
                    </div>
                    <div class="form-group mb-2">
                        <label class="control-label">Дата транзакции (необязательно)</label>
                        <input type="datetime-local" formControlName="createdAt" class="form-control" [(ngModel)]="transaction.createdAt"/>
                    </div>
                    <div class="form-group mb-2">
                        <label class="control-label">Со счёта</label>
                        <select formControlName="walletId" class="form-control">
                            <option *ngFor="let wallet of wallets" [value]="wallet.id">{{wallet.walletName}}</option>
                        </select>
                        <span *ngIf="walletId.hasError('required') && walletId.touched" class="text-danger">Пожалуйста, выберите счёт</span>
                    </div>
                    <div class="form-group mb-2">
                        <label class="control-label">Категория:</label>
                        <select formControlName="categoryId" class="form-control">
                            <option *ngFor="let category of categories" [value]="category.id">{{category.categoryName}}</option>
                        </select>
                        <span *ngIf="categoryId.hasError('required') && categoryId.touched" class="text-danger">Пожалуйста, выберите категорию</span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-main float-right" [disabled]="!form.valid || categories.length === 0">
                        Изменить
                        </button>
                    </div>       
                </form>
            </div>
        </div>
    </div>
</div>